<h1>All Bookings</h1>

<p><%= link_to "Add Booking", new_booking_path %></p>


<% @bookings.each do |booking| %>
  <div>
      <h4><%= link_to booking.idnumber, booking_path(booking) %></h4>
      <p><%= booking.firstname %></p>
      <p><%= booking.lastname %></p>
      <p><%= time_format(booking.booking_for) %> <%= fa_icon "camera-retro" %></p>
      <p><%= booking.clubname %>, <%= booking.location %></p>
  </div>
<% end %>