<h1>New Booking</h1>

<%= form_for(@booking) do |f| %>

<div>
    <%= f.label :idnumber %>
    <%= f.text_field :idnumber %>
</div>
<div>
    <%= f.label :firstname %>
    <%= f.text_area :firstname %>
</div>
<div>
    <%= f.label :lastname %>
    <%= f.text_area :lastname %>
</div>
<div>
    <%= f.label :phone %>
    <%= f.text_area :phone %>
</div>
<div>
    <%= f.label :booking_for %>
    <%= f.datetime_select :booking_for %>
</div>
<div>
    <%= f.label :clubname %>
    <%= f.text_field :clubname %>
</div>
<div>
    <%= f.label :location %>
    <%= f.text_field :location %>
</div>
<%= f.submit %>+
<% end %>