 <h1><%= @booking.idnumber %></h1>

 <div>
     <p><%= @booking.idnumber %></p>
    
    <p><%= @booking.firstname %></p>
    
    <p><%= @booking.lastname %></p>
    
    <p><%= @booking.phone %></p>
    
    <p><%= @booking.booking_for %></p>
    
    <p><%= @booking.clubname %></p>
     
    <p><%= @booking.location %></p>
  </div>