<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:lastname)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Below container class puts the effect on all pages -->  
<div class="container">
  <%= yield %> 
</div>



</body>
</html>
